<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Designed and developed by DoneDone Team 2023.
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/TodayDoneDone/donedone-android/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="WafflePreview"
        android:theme="@style/WaffleTheme"
        tools:ignore="MissingApplicationIcon">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".button.WaffleButtonActivity"
            android:exported="false"
            android:label="Waffle Button Activity" >

            <intent-filter>
                <action android:name="me.donedone.waffle.preview.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textinput.WaffleCountViewActivity"
            android:exported="false"
            android:label="Waffle TextLengthInfo Activity" >

            <intent-filter>
                <action android:name="me.donedone.waffle.preview.SAMPLE" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <package android:name="me.donedone.waffle.preview" />
    </queries>
</manifest>
